/* サンプル作って */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  color: #333;
}

p {
  margin: 0 0 1em;
}

.h1-main {
	font-size: 2em;
	font-weight: bold;
	height: 1.5em;
}

.h1-sub {
  font-size: 1.5em;
  font-weight: bold;
  height: 1.2em;
}

.p-main {
  font-size: 1em;
  font-weight: normal;
  height: 1.5em;
}
